/*Restricted Use License Common

This code is provided under the following terms and conditions:

1. You are not allowed to use, copy, modify, merge, publish, distribute, sublicense, or sell copies of this code in any form, modified or unmodified, without express written permission from the author.

2. You are not allowed to use this code for any illegal or unethical purpose.

3. This license applies to all versions of the code previously released, as well as all future versions. Any prior statements made about permission given are hereby revoked.

4. This code is provided "as is", without warranty of any kind, express or implied. The author shall not be liable for any damages arising from the use of this code.

By using this code, you agree to abide by these terms and conditions. Failure to comply with these terms may result in legal action.

For inquiries regarding licensing or permission to use this code in ways not covered by this license, please contact the author at AdjusterConsole@gmail.com.  */

.auth_container {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 85%;
  background: none;
  box-shadow: none;
  overflow: visible;
  z-index: 7;
  font-size: 18px;
}

.auth_container.show {
  display: block;
}

.auth_main {
  margin: 20px auto;
  width: 90%;
  height: 95%;
  background: var(--fancy-background);
  padding: 35px;
}

.auth_header {
  text-align: center;
}

#auth_inner {
  height: 640px;
}

#auth20 {
  font-size: 17px;
  width: 90px;
}

.auth_style {
  margin: auto;
  padding: 15px;
  background: var(--btn-background2);
  box-shadow: var(--box-shadow2);
}

.float_auth {
  float: left;
  background: none;
  box-shadow: none;
  width: 33%;
}

.auth_oop {
  background: none;
  box-shadow: none;
  margin: auto;
  width: 300px;
  display: none;
}

.flex_list input[type="number"] {
  margin-bottom: 10px;
  width: 90px;
}

.auth_button {
  width: 110px;
  height: 60px;
  background: none;
  box-shadow: none;
  border: 2px solid var(--my-accent-color);
  border-radius: var(--radius2);
  bottom: 0px;
&:hover {
    background: rgba(0,0,0,0.15);
  }
}

#oopc_option {
  opacity: 0;
}

#oopc_option2 {
  width: 35%;
  opacity: 0;
}

.flex_contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: none;
  box-shadow: none;
  align-items: flex-start;
  justify-content: center;
}

.flex_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 33%;
  justify-content: center;
  align-content: space-around;
  background: none;
  box-shadow: none;
  margin: 20px auto;
}

.flex_list.slim {
  width: 28%;
}

.flex_list.last {
  align-items: center;
}

.flex_list label {
  margin: 5px 5px 5px 15px;
}

label.top {
  margin: 20px 5px 5px 15px;
}

#cancel_auth {
  left: 70px;
}

#finish_auth {
  right: 70px;
}

.largerSelect {
  font-size: 18px;
}