/*Restricted Use License

This code is provided under the following terms and conditions:

1. You are not allowed to use, copy, modify, merge, publish, distribute, sublicense, or sell copies of this code in any form, modified or unmodified, without express written permission from the author.

2. You are not allowed to use this code for any illegal or unethical purpose.

3. This license applies to all versions of the code previously released, as well as all future versions. Any prior statements made about permission given are hereby revoked.

4. This code is provided "as is", without warranty of any kind, express or implied. The author shall not be liable for any damages arising from the use of this code.

By using this code, you agree to abide by these terms and conditions. Failure to comply with these terms may result in legal action.

For inquiries regarding licensing or permission to use this code in ways not covered by this license, please contact the author at AdjusterConsole@gmail.com.  */

#context-menu {
  position: fixed;
  z-index: 15;
  width: 180px;
  background: #1b1a1a;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: top left;
  box-shadow:none;
}

#context-menu.visible {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

#context-menu .item {
  box-shadow:none;
  background: #1b1a1a;
  padding: 8px 10px;
  font-size: 15px;
  color: #eee;
  cursor: pointer;
  border-radius: inherit;
}

#context-menu .item:hover {
  background: #343434;
  box-shadow:none;
}

.CMeditDIV {
  z-index: 9;
  background-color: var(--my-background-color);
}

.orig.CMeditDIV {
  z-index: 9;
  background: linear-gradient(165deg,
    var(--my-accent-color) 8%,
    white 20%,
    white 80%,
    var(--my-accent-color) 92%);
}

#contEdit {
  position: absolute;
  display: inline-block;
  top: 200px;
  left: 120px;
  height: 400px;
  width: 700px;
}

#sizeEdit {
  position: absolute;
  display: inline-block;
  top: 300px;
  left: 230px;
  height: 300px;
  width: 500px;
}

#widthMod {
  top: -10px;
  left: 215px;
  position: absolute;
  display: inline-block;
}

#heightMod {
  top: 80px;
  left: 10px;
  position: absolute;
  display: inline-block;
}

#hplus {
  position: relative;
  transform: rotate(-90deg);
}

#hminus {
  position: relative;
  transform: rotate(-90deg);
}

#wplus {
  top: 20px;
  left: 30px;
  height: 35px;
  width: 35px;
  position: absolute;
  display: inline-block;
}

#wminus {
  top: 20px;
  left: -25px;
  height: 35px;
  width: 35px;
  position: absolute;
  display: inline-block;
}

#sizeSubmit {
  position: absolute;
  display: inline-block;
  height: 60px;
  width: 140px;
  bottom: 15px;
  right: 15px;
}

#sizeCancel {
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 80px;
  bottom: 85px;
  right: 15px;
}

#sizeDefault {
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 80px;
  bottom: 135px;
  right: 15px;
}

#myInfo {
  position: absolute;
  display: inline-block;
  outline: 1px solid white;
  top: 200px;
  left: 200px;
  background: black;
  color: white;
  font-size: 25px;
  z-index: 99;
  padding: 30px;
}

#sizeShow {
  left: 130px;
  cursor: text;
  overflow: hidden;
  overflow-wrap: normal;
  line-break: auto;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  color: black;
  margin: 0px;
  color: black;
}

#sizeShow:active {
  transform: translateY(0px);
}

#disEdit {
  position: absolute;
  display: inline-block;
  top: 200px;
  left: 120px;
  height: 400px;
  width: 700px;
}

.bones {
  background: none;
  border: 2px solid var(--my-accent-color);
  box-shadow: none;
  border-radius: 5px;
  padding: 0px;
}

#TitleDisplay {
  position: absolute;
  display: inline-block;
  left: 125px;
  top: 25px;
  height: 35px;
  width: 450px;
}

#Instruction {
  position: absolute;
  display: inline-block;
  left: 120px;
  top: 70px;
  height: 35px;
  width: 450px;
}

#ContentEditor {
  position: absolute;
  display: inline-block;
  left: 150px;
  top: 80px;
  height: 200px;
  width: 380px;
  padding: 10px;
  text-align: left;
}

#dispSubmit {
  position: absolute;
  display: inline-block;
  height: 60px;
  width: 140px;
  bottom: 15px;
  right: 15px;
}

#dispCancel {
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 80px;
  bottom: 85px;
  right: 15px;
}

#dispDefault {
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 80px;
  bottom: 135px;
  right: 15px;
}

#contSubmit {
  position: absolute;
  display: inline-block;
  height: 60px;
  width: 140px;
  bottom: 15px;
  right: 15px;
}

#contCancel {
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 80px;
  bottom: 85px;
  right: 15px;
}

#contDefault {
  position: absolute;
  display: inline-block;
  height: 40px;
  width: 80px;
  bottom: 135px;
  right: 15px;
}

#mimic {
  top: 250px;
  left: 230px;
  cursor: text;
  overflow: hidden;
  overflow-wrap: normal;
  line-break: auto;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  color: var(--glow-txt-color);
  margin: 10px;
  text-shadow:
    1px 1px 1px var(--glow-outline-color),
   -1px -1px 1px var(--glow-outline-color),
   -1px 1px 1px var(--glow-outline-color),
    1px -1px 1px var(--glow-outline-color);
}

#mimic:active {
  transform: translateY(0px);
}

#bold {
  position: absolute;
  display: inline-block;
  top: 140px;
  left: 160px;
  height: 35px;
  width: 150px;
  padding: 0px;
}

#color {
  position: absolute;
  display: inline-block;
  left: 160px;
  top: 185px;
  height: 35px;
  width: 150px;
  padding: 0px;
}

#fontSizer {
  position: absolute;
  display: inline-block;
  left: 360px;
  top: 150px;
  height: 45px;
  width: 150px;
}

#plus {
  position: absolute;
  display: inline-block;
  left: 445px;
  top: 180px;
  height: 35px;
  width: 35px;
  text-shadow: none;
  padding: 0px;
}

#minus {
  font-size: 16px;
  position: absolute;
  display: inline-block;
  left: 385px;
  top: 180px;
  height: 35px;
  width: 35px;
  text-shadow: none;
  padding: 0px;
}

#posSubmit {
  position: absolute;
  display: inline-block;
  font-size: 22px;
  font-weight: 800;
  height: 40px;
  width: 95px;
  bottom: 75px;
  left: 55px;
}

#posDefault {
  position: absolute;
  display: inline-block;
  font-size: 18px;
  font-weight: 800;
  height: 40px;
  width: 95px;
  bottom: 35px;
  left: 55px;
}

#posCancel {
  position: absolute;
  display: inline-block;
  font-size: 15px;
  font-weight: 800;
  height: 40px;
  width: 95px;
  bottom: 5px;
  left: 55px;
}

.moveBTNS {
  outline: none;
  background: none;
  border: none;
  position: absolute;
  display: inline-block;
  text-shadow: none;
  box-shadow: none;
  color: black;
  font-size: 23px;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  width: 25px;
  height: 35px;
}

.moveBTNS:active {
  transform: translateY(0px);
  box-shadow: none;
}

#posEdit {
  top: 600px;
  left: 70px;
  height: 220px;
  width: 205px;
  border-radius: 8px;
  position: absolute;
  display: inline-block;
}

#upBTN {
  border-right: solid 2px red;
  transform: rotate(-90deg);
  top: 10px;
  left: 90px;
}

#downBTN {
  border-left: solid 2px red;
  transform: rotate(-90deg);
  top: 50px;
  left: 90px;
}

#leftBTN {
  border-left: solid 2px red;
  top: 30px;
  left: 40px;
}

#rightBTN {
  border-right: solid 2px red;
  top: 30px;
  right: 40px;
}

.shiny {
  animation: moveShine 5s infinite linear;
}

@keyframes moveShine {
  0% {
  box-shadow:
    1px 1px 1px red,
   -1px -1px 1px red,
   -1px 1px 1px red,
    1px -1px 1px red;
  }
  25% {
  box-shadow:
    1px 1px 1px red,
   -1px -1px 1px red,
   -1px 1px 1px red,
    1px -1px 1px red,
    0px 0px 10px red,
    0px 0px 15px red,
    0px 0px 30px red;
  }
  50% {
  box-shadow:
    1px 1px 1px red,
   -1px -1px 1px red,
   -1px 1px 1px red,
    1px -1px 1px red;
  }
  100% {
  box-shadow:
    1px 1px 1px red,
   -1px -1px 1px red,
   -1px 1px 1px red,
    1px -1px 1px red;
  }
}